<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Confirm your selection{% endblock %}
</head>
<body>
        {% block content %}
        <div class="container">
            <form method="post" action="/submit-form">
              <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" name="first_name" required>
              </div>
              <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" name="last_name" required>
              </div>
              <div class="form-group">
                <label for="tag-number">Tag Number</label>
                <input type="text" class="form-control" id="tag-number" name="tag_number" required>
              </div>
              <div class="form-group">
                <label for="serial-number">Serial Number</label>
                <input type="text" class="form-control" id="serial-number" name="serial_number" required>
              </div>
              <div class="form-group">
                <label for="coyote-id">Coyote ID</label>
                <input type="text" class="form-control" id="coyote-id" name="coyote_id" required>
              </div>
              <div class="form-group">
                <label for="make-model">Make and Model</label>
                <input type="text" class="form-control" id="make-model" name="make_model" required>
              </div>
              <div class="form-group">
                <label for="received-date">Date Received</label>
                <input type="date" class="form-control" id="received-date" name="received_date" required>
              </div>
              <div class="form-group">
                <label for="return-date">Date Returned</label>
                <input type="date" class="form-control" id="return-date" name="return_date" required>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="off-campus-policy" name="off_campus_policy" required>
                <label class="form-check-label" for="off-campus-policy">I acknowledge that this laptop will not be taken off-campus</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        {% endblock %}
</body>
</html>