<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %}
    {% block title %}Home{% endblock %}
</head>

<body>
    {% block content %}
    <a href="/admin-login"><button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Login</button></a>
    <div class="container mx-auto text-center">
        <img src="{{ url_for('static', filename='logo.png') }}" class="w-1/4 mx-auto mb-4" alt="CSUSB Logo">
        <h1 class="text-3xl font-bold mb-4">Laptop Checkout System</h1>
        <a href="{{url_for('laptops')}}">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Tap Here to
                begin</button>
        </a>
        <br>
        <br>
        <a href="{{url_for('returnLaptop')}}">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Returning a
                Laptop?</button>
        </a>
    </div>
    {% endblock %}
</body>

</html>