<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %}Choose a Laptop{% endblock %}
</head>
<body>
    {% endblock %}
        {% block content %}
        <div class="container">
            <h2>Please select a laptop</h2>
            <ul>
                {% for laptop in laptops %}
                <li><a href="{{ url_for('laptop', id=laptop.id) }}">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{laptop.make}}</h5>
                        </div>
                      </div>
                </a></li>
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
</body>
</html>